@font-face {
    font-family: "GeistMonoRegular";
    src:
      url("../fonts/GeistMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
html {
    height: 100%;
}
body {
    font-family: GeistMonoRegular;
    background-color:#f7f1eb;
    height: max-content;
}
main {
    width:75vw;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    background-color: #111112;
}
header {   
    display: flex;
    width:75vw;
    height:8vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#111112;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 1rem 2rem;
    height:100%;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin-right: 30px;
}
nav a {
    text-decoration: none;
    padding: 10px;
}
section {
    margin-bottom: 4rem;
    margin-left: 30px;
    margin-right: 30px;
} 
h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
