.hero {
    margin-bottom: 2rem;
    color:white;
  }
  
  .hero-image {
    text-align: center;
    margin-bottom: 1rem;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80%;;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 100%;
  }
  
  .product-card {
    padding: 1rem;
  }
  
  .product-image {
    text-align: center;
    margin: 1rem 0;
    width: 100%;
  }